body{
	background-image: url(../images/temple.jpg);
	background-repeat: no-repeat;
}



#container{
	width: 960px;
	height: 720px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: auto;
	border-radius: 20px;
}

#niceLine {
	background-color: red;
	height: 20px;
}

#screenTimerBox {
	color: red;
	padding-left: 15px;
	display: inline-block;
	
}

.screenTimerPart {
	display: inline-block;
}

#textQuestBox {
	color: white;
	padding: 0px 15px 0px 15px;
}

#buttonsBox{
	padding: 0px 15px 0px 15px;
	text-align: center;
}

.answerButton {
	padding: 5px;
	margin: 0px 15px 0px 15px;
	width: 100px;
	border-radius: 5px;
}

#gifsBox{
	padding: 30px;
	text-align: center;
}

